@import "../../../../assets/styles/scss/_effects/_animations";
row.images {
    display: none;
    &.show {
        display: block;
        animation: fadeIn 1.5s;
    }
}

@media (max-width: 767.98px) {
    h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .camera-select {
        margin-bottom: 2rem;
        .btn {
            width: 100%;
        }
    }
}

@media (max-width: 991.98px) { 
    h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .img-date {
        text-align: center !important;
    }
 }